@{
    ViewBag.Title = "CoffeDate";
}
@section featured {
    <section class="featured">

        <div class="row">
            <div class="col-lg-6">
                <hgroup class="title">
                    <!-- <h1>@ViewBag.Title.</h1> -->
                    <h2 class="text-center"><i class="fa fa-coffee fa-5x"></i></h2>
                    <h2 class="text-center" id="message">@ViewBag.Message</h2>
                </hgroup>
            </div>
            <div class="col-lg-6">
                @Html.Partial("~/Views/Shared/_Register.cshtml")
            </div>

        </div>

    </section>
}
