@{
    ViewBag.Title = "CoffeDate";
}
@section featured {
    <section class="featured">

        <div class="row">
            <div class="col-lg-6">
                <hgroup class="title">
                    <!-- <h1>@ViewBag.Title.</h1> -->
                    <h2>@ViewBag.Message</h2>
                </hgroup>
            </div>
            <div class="col-lg-6">
                @Html.Partial("~/Views/Shared/_Register.cshtml")
            </div>

        </div>





        <div class="content-wrapper">


           


        </div>


    </section>
}